@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--font-base: "Roboto", sans-serif;
--font-second-base: "inter", sans-serif;
--bg-color: #111;
--primary-color: #fff;
--secondary-color: #e50914;

}


*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: #111;
}